{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_confirm.css' %}"> 
    <link rel="stylesheet" href="{% static 'styles/buttons.css' %}">
</head>
<body style="background-image: url('{% static 'images/fondoSaman.png' %}');
 background-size: cover; background-position: center;" 
 class="background-image">
<main class="forgot-password">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
        {% if validlink %}
      <form method="POST" class="card card-body">
        {% csrf_token %}

        {{ form.new_password1.errors }}
        <div class="form-group">
        <label for="new_password1">Nueva contraseña:</label>
        <input
            type="password"
            name="new_password1"
            id="new_password1"
            class="form-control"
            placeholder="Escriba su nueva contraseña"
          />
        </div>
        {{ form.new_password2.errors }}
        <div class="form-group">
        <label for="new_password2">Confirme su contraseña:</label>
        <input
            type="password"
            name="new_password2"
            id="new_password2"
            class="form-control"
            placeholder="Confirme su contraseña"
          />
        </div>
        <button class="btn-primary">Actualizar</button>
      </form>
      {% else %}
        <h1 class="text-center">Enlace invalido</h1>
        {% endif %}
      
    </section>
  </div>
</main>
</body>