{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_done.css' %}"> 
</head>
<body style="background-image: url('{% static 'images/fondoSaman.png' %}');
 background-size: cover; background-position: center;" 
 class="background-image">
<main class="forgot-password">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <div class="logo-container">
        <img src="{% static 'images/logo.png' %}" alt="Logo Universidad Icesi" class="university-logo"> 
      </div>
      <h1 class="text-center">Se ha actualizado su contraseña</h1>
      <p class="text-center">Revise su email! Hemos enviado un enlace para actualizar su contraseña</p>
    </section>
  </div>
</main>

</body>
