{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_form.css' %}"> 
    <link rel="stylesheet" href="{% static 'styles/buttons.css' %}">
</head>
<body style="background-image: url('{% static 'images/fondoSaman.png' %}');
 background-size: cover; background-position: center;" 
 class="background-image">

<main class="forgot-password">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <div class="logo-container">
        <img src="{% static 'images/logo.png' %}" alt="Logo Universidad Icesi" class="university-logo">
      </div>
      <div class="forgot-password-form">
      <form method="POST" class="card card-body">
        <h1 class="text-center">Olvido su contraseña</h1>
        {{error}} {% csrf_token %}
        <article class="mb-3">
          <div class="form-group">
            <label for="email">Email:</label>
            <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            placeholder="Escriba su correo"
          />
        </div>
        </article>
        <button class="btn-primary">Actualizar</button>
      </form>
      </div>
    </section>
  </div>
</main>
</body>