{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del usuario</title>
    <link rel="stylesheet" href="{% static 'styles/user_profile.css' %}">
</head>

<body>

    <header class="user-container">
        <div class="icesi aling-left">
            <img src="{% static 'images/logo-icesi-azul.webp' %}">
        </div>

        <div class="notification aling-right">
            <img src="/static/icons/campana.png">
        </div>

        <div class="user-info">
            <p>{{ request.user.username }}</p>

        </div>

        <div class="user-image">
            <img src="/static/images/profile.jpg">
        </div>
    </header>

    <section class="main">

        <nav class="sidebar close">

            <header>
                <div class="text logo">
                    <span>MENU</span>
                </div>
                <img src="{% static 'icons/menu.png' %}" class="toggle">
            </header>


            <div class="menu-bar">
                <div class="menu">
                    <ul>
                        <div class="menu-items">
                            <li>
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'icons/home.png' %}" class="icon">
                                    <span class="text nav-text">Inicio</span>
                                </a>
                            </li>


                            <li>
                                <a href="{% url 'create_event' %}">
                                    <img src="{% static 'icons/create.png' %}" class="icon">
                                    <span class="text nav-text">Crear Evento</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'users_search' %}">
                                    <img src="{% static 'icons/lupa.png' %}" class="icon">
                                    <span class="text nav-text">Buscar Usuario</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'events_calendar' %}">
                                    <img src="{% static 'icons/calendar.png' %}" class="icon">
                                    <span class="text nav-text">Calendario</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'historic_deleted_events' %}">
                                    <img src="{% static 'icons/trash.png' %}" class="icon">
                                    <span class="text nav-text">Historial</span>
                                </a>
                            </li>
                    </ul>
                </div>

                <div class="bottom-content">
                    <li>
                        <a href="{% url 'logout' %}">
                            <img src="{% static 'icons/logout.png' %}" class="icon">
                            <span class="text nav-text">Salir</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <img src="{% static 'icons/luna.png' %}" class="moon">
                            <img src="{% static 'icons/sol.png' %}" class="sun">
                        </div>
                        <span class="mode-text text">Modo Oscuro</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>

            </div>
            </div>
        </nav>

        <div class="home">
            <div class="profile">
                <h1 class="text"> Perfil del Usuario</h1>
                <img src="/static/images/profile.jpg">
                <p><strong>Nombre:</strong> {{ user.username }}</p>
                <p><strong>Correo Electronico:</strong> {{ user.email }}</p>

                {% if user.is_superuser %}
                <p><strong>Rol:</strong> Admin</p>
                {% else %}
                <p><strong>Rol:</strong> Gestor</p>
                {% endif %}
                <p><strong>Fecha de Registro:</strong> {{ user.date_joined|date:"Y-m-d H:i" }}</p>
                <!-- Formulario para eliminar cuenta -->
                <form action="{% url 'delete_user' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Eliminar Cuenta" class="delete-btn"
                        onclick="return confirm('¿Estás seguro de que quieres eliminar tu cuenta?')">
                </form>
            </div>
        </div>
    </section>


    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>