body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    text-align: center;
    margin-bottom: 2rem;
}

.university-logo {
    max-width: 100%;
    height: auto;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    margin-top: 1rem;
}


.login-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    /* Esto asegura que el botón se comporte como un bloque y pueda ser centrado */
    width: 60%;
    /* Ancho del botón ajustado a 60% */
    margin: 1rem auto;
    /* Centra el botón horizontalmente y agrega margen superior e inferior */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total del botón */
}

.login-button:hover {
    background-color: #004494;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #0056b3;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.signup-template {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #0056b3;
    text-decoration: none;
}

.signup-template:hover {
    text-decoration: underline;
}